
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Atrás</span></a></div>
        <div class="center sliding">Detalles</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="DetallesUser" class="page">
        <div class="page-content">
            
            <div class="content-block-title">Información</div>
            
            <div class="list-block" style="margin-bottom: 0px;">
                <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">person</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Nombre</div>
                          <div class="item-input">
                            <input type="text" placeholder="Nombre completo" id="nombre">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">calendar</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Entrada</div>
                          <div class="item-input">
                            <input type="datetime-local" placeholder="Fecha y hora" id="fecha">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">calendar</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Salida</div>
                          <div class="item-input">
                            <input type="datetime-local" placeholder="Fecha y hora" id="fechaSalida">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">bag_fill</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Dependencia</div>
                          <div class="item-input">
                            <input type="text" placeholder="Secretaría o sub..." id="dependencia">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">book</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Asunto</div>
                          <div class="item-input">
                            <select id="asuntos">
                            </select>
                          </div>  
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">tags_fill</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Comentarios</div>
                          <div class="item-input">
                            <!-- <input type="textarea" placeholder="" id="comentarios"> -->
                            <textarea id="comentarios" placeholder="Cosas relevantes..."></textarea>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">camera</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Evidencia</div>
                          <div class="item-input">
                            <!-- <input type="file" placeholder="" id="evidencia"> -->
                            <img id="evidencia" width="200">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">graph_square</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Firma</div>
                          <div class="item-input">
                            <!-- <input type="file" placeholder="" id="evidencia"> -->
                            <img id="firma" width="200">
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>   

            <a href="javascript: ;" class="button button-round button-fill color-green" id="finish" style="top: 15px;">Guardar</a>         
            
        </div>
    </div>
</div>
