<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">Bienvenido</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="PrincipalUser" class="page">
        <div class="page-content">
            <div class="content-block-title">Bienvenido al recolector de firmas para reuniones</div>

            <div class="list-block">
                <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">person</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Nombre</div>
                          <div class="item-input">
                            <input type="text" placeholder="Your name">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">calendar</i></div>
                        <div class="item-inner">
                          <div class="item-title label">Date time</div>
                          <div class="item-input">
                            <input type="datetime-local">
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>

            <canvas id="sig-canvas" width="320" height="400" style="border:solid black 1px;">
            Get a better browser, bro.
            </canvas>   

            <script type="text/javascript">
                var canvas = document.getElementById("sig-canvas");
                var ctx = canvas.getContext("2d");
                ctx.strokeStyle = "#222222";
                ctx.lineWith = 2;

                canvas.addEventListener("touchstart", function (e) {
                        mousePos = getTouchPos(canvas, e);
                  var touch = e.touches[0];
                  var mouseEvent = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                  });
                  canvas.dispatchEvent(mouseEvent);
                }, false);
                canvas.addEventListener("touchend", function (e) {
                  var mouseEvent = new MouseEvent("mouseup", {});
                  canvas.dispatchEvent(mouseEvent);
                }, false);
                canvas.addEventListener("touchmove", function (e) {
                  var touch = e.touches[0];
                  var mouseEvent = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                  });
                  canvas.dispatchEvent(mouseEvent);
                }, false);

                // Get the position of a touch relative to the canvas
                function getTouchPos(canvasDom, touchEvent) {
                  var rect = canvasDom.getBoundingClientRect();
                  return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                  };
                }

                // Prevent scrolling when touching the canvas
                document.body.addEventListener("touchstart", function (e) {
                  if (e.target == canvas) {
                    e.preventDefault();
                  }
                }, false);
                document.body.addEventListener("touchend", function (e) {
                  if (e.target == canvas) {
                    e.preventDefault();
                  }
                }, false);
                document.body.addEventListener("touchmove", function (e) {
                  if (e.target == canvas) {
                    e.preventDefault();
                  }
                }, false);
            </script>  
        </div>
    </div>
</div>

